@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #4995F3;
    margin: 0;
}

.appContainer {
    margin: 0 160px;
}

.btn {
    height: 40px;
    width: 180px;
    font-size: 0.9375rem;
    font-weight: 500;
    border-radius: 28px;
    padding: 8px 22px;
    margin-top: 30px;
    background-color: #4995F3;
    color: white;
    display: flex;
    place-items: center;
    place-content: center;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 
        0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.btn:hover {
    background-color: #494af3;
}

/* HEADER */

#header {
    color: white;
    display: grid;
    grid-template-columns: 160px 1fr 1fr 1fr 160px;
    margin: 15px 0;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
}

.headerIcon {
    margin-right: 10px;
    color: white;
}

#savedLinkCont {
    display: inline-block;
    align-self: flex-end;
    justify-self: flex-end;
}

#headerSaved {
    text-decoration: none;
    color: white;
    position: relative;
}

#headerSaved::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: white;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
  
#headerSaved:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* FILTERS */

#filters {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 20px 0;
    margin: 20px 0;
}

.indiFilter {
    width: 160px;
}

/* NAV TOGGLES */

.navToggles {
    display: flex;
    justify-content: space-around;
}

.navTab {
    width: 50%;
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    border-radius: 20px 20px 0 0;
    text-align: center;
    background-color: #DEDEDE;
}

.active {
    background-color: white;
}


/* LIST VIEW */

.listViewList {
    background-color: white;
    padding: 30px 0 5px 0;
    margin-bottom: 30px;
    border-radius: 0 0 4px 4px;
}

.listViewCardCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px auto 60px auto;
    padding: 2rem;
}

.listViewImgCont {
    position: relative;
    width: 45%;
}

.listViewPropertyImg {
    width: 100%;
    border-radius: 4px;
}

.listViewPrice {
    position: absolute;
    top: 1px;
    right: 16px;
    font-size: 1.5em;
    background-color: #F9D030;
    padding: 15px 20px;
    border-radius: 55px;
}

.listViewInfoCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    background-color: white;
}

.listViewInfoCont p {
    font-size: .8rem;
}

.roomTypes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

.indiRoomType {
    display: flex;
    height: 32px;
    align-items: center;
}

.indiRoomType p {
    margin-left: 10px;
}

/* MORTGAGE CALCULATOR */

.mortgageCalculator {
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    margin: 40px 0;
}

.radioResultContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.mortgageSmallText {
    font-size: .75rem;
}

.mortgageAmount {
    font-size: 2rem;
    color: #494af3;
    font-weight: 600;
    margin: 0 7px;
}

.mortgageLargeText {
    display: flex;
    align-items: baseline;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.mortgageChartContainer {
    display: flex;
    align-items: center;
    width: 500px;
    height: 400px;
}

/* PROPERTY PROFILE */

.profileContainer {
    padding: 3rem;
}

.carousel {
    width: 50%;
}

.carouselImg {
    width: 100%;
}

.profileTop {
    display: flex;
    align-items: center;
}

.profileMainDetails {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 30px;
    padding-bottom: 30px;
}

.saveBtn {
    background-color: #F9D030;
}

.saveBtn:hover {
    background-color: #FBBF41;
}

/* MAP VIEW */

.mapContainer {
    height: 500px;
    background-color: white;
    clip-path: inset(2px 50px 10px 50px);
}
