@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #8EC7FF;
    margin: 0;
}

.appContainer {
    margin: 0 25px;
}


.btn {
    height: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 6px;
    display: flex;
    place-items: center;
    place-content: center;
    cursor: pointer;
}

.moreBtn {
    background-color: #8EC7FF;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #26547C;
}

.saveBtn:hover {
    color: white;
}

.saveBtn {
    font-family: 'Roboto', sans-serif;
    border: 2px solid #8EC7FF;
    background-color: white;
}

.btnsContainer {
    height: 50px;
    display: grid;
    grid-template-columns: 47% 47%;
    grid-gap: 6%;
}

/* HEADER */

#header {
    color: white;
    display: grid;
    grid-template-columns: 25px 1fr 1fr 1fr 25px;
    margin: 15px 0 45px 0;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
}

.headerIcon {
    margin-right: 10px;
    color: white;
}

#savedLinkCont {
    display: inline-block;
    align-self: flex-end;
    justify-self: flex-end;
}

#headerSaved {
    text-decoration: none;
    color: white;
    position: relative;
}

#headerSaved::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: white;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
  
#headerSaved:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* FILTERS */

#filters {
    height: 460px;
    min-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px 25px 50px 25px;
    margin-right: 35px;
    border-radius: 6px;
}

#filterDropdowns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#startSearch {
    margin: 0;
    font-weight: bold;
    font-size: 1.75rem;
}

.indiFilter {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}

/* NAV TOGGLES */

.navToggles {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 6px 6px 0 0;
}

.navTab {
    width: 50%;
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    text-align: center;
    background-color: white;
    border-radius: 6px 6px 0 0;
    color: #8EC7FF;
}

.active {
    border-bottom: 5px #8EC7FF solid;
}


/* LIST VIEW */

.listingsContainer {
    display: flex ;
}

.listViewList {
    background-color: white;
    padding: 30px 40px 5px 40px;
    margin-bottom: 30px;
    border-radius: 0 0 6px 6px;
}

.listViewCardCont {
    display: grid;
    grid-template-columns: 50% 45%;
    grid-gap: 5%;
    padding: 25px;
    margin: 40px 0;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.listViewPropertyImg {
    width: 100%;
}

.listViewPrice {
    margin: 0;
    color: #8EC7FF;
    font-weight: bold;
    font-size: 1.5rem;
}

.listViewTagline {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0.5em 0;
}

.listViewDesc {
    font-size: 1rem;
}

.listViewInfoCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.roomTypes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px 0;
}

.indiRoomType {
    display: flex;
    height: 32px;
    align-items: center;
}

.indiRoomType p {
    margin-left: 10px;
}

/* MORTGAGE CALCULATOR */

.mortgageCalculator {
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    margin: 40px 0;
}

.radioResultContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.mortgageSmallText {
    font-size: .75rem;
}

.mortgageAmount {
    font-size: 2rem;
    color: #494af3;
    font-weight: 600;
    margin: 0 7px;
}

.mortgageLargeText {
    display: flex;
    align-items: baseline;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.mortgageChartContainer {
    display: flex;
    align-items: center;
    width: 500px;
    height: 400px;
}

/* PROPERTY PROFILE */

.profileContainer {
    padding: 3rem;
}

.carousel {
    width: 50%;
}

.carouselImg {
    width: 100%;
}

.profileTop {
    display: flex;
    align-items: center;
}

.profileMainDetails {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 30px;
    padding-bottom: 30px;
}

/* MAP VIEW */

#mapContainer {
    background-color: white;
    padding: 30px;
}

#mapClipPath {
    height: 500px;
    background-color: white;
    position: relative;
}

@media screen and (max-width: 1050px) and (min-width: 0px) {
    
    .listingsContainer {
        flex-direction: column;
    }

    #filters {
        margin: 0;
    }
}

@media screen and (max-width: 1050px) and (min-width: 760px) {
    .btn {
        font-size: 1rem;
    }

    #filters {
        height: 210px; 
        margin-bottom: 45px;
    }
    
    #filterDropdowns {
        height: 180px;
        flex-wrap: wrap;
        align-items: center;
    }

    .indiFilter {
        width: 45%;
    }

    .listViewList {
        padding: 30px 30px 5px 30px;
    }

    .listViewPrice {
        font-size: 1.25rem;
    }
    
    .listViewTagline {
        font-size: 1.25rem;
    }
    
    .listViewDesc {
        display: none;
    }
}

@media screen and (max-width: 900px) and (min-width: 0px) {
}